
body{
    width: 100%;
    height: 100dvh;
    display: flex;
    overflow: hidden;
    background-color: #FAFAFA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3rem 4rem;
    height: 100dvh;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
}

input{
    padding: 0.7rem;
    border: none;
    border-bottom: 2px solid black;
    background-color: #FAFAFA;
}

input:focus-visible {
    outline: none;
}

button{
    padding: 0.7rem;
    background-color: #001f3f;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
}

.texto{
    width: 50%;
    text-align: center;
}

a{
    text-decoration: none;
    color: #787878;
}

.img{
    width: 50%;
    height: auto;
    background-image: url('../assets/img/register.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img::before{
    content: '';
    width: 100%;
    height: 100dvh;
    background-color: black;
    position: absolute;
    z-index: 999;
    opacity: 0.4;
}

#error-email, #error-password{
    display: none;
}

@media (max-width: 1000px) {
    .img{
        display: none;
    }

    body{
        display: block;
        text-align: center;
    }

    .login-container{
        width: 80%;
        margin: 0 auto;
    }
    
    form{
        width: 100%;
    }

    .texto{
        width: 100%;
        text-align: center;
    }
}